In [1]:
import pandas as pd
import word2vec as w2v
import numpy as np
import os
import sys
import math
import textblob

In [2]:
data_path = os.path.join(os.path.dirname(os.getcwd()), 'data')

In [3]:
os.listdir(data_path)

['stock_data_AAPL_2019-03-15_2019-04-15.csv',
 'twitter_data_english_Apple_2019-03-15_2019-04-15.csv']

In [4]:
stock_data_file_path = "stock_data_AAPL_2019-03-15_2019-04-15.csv"
stock_data = pd.read_csv(os.path.join(data_path, stock_data_file_path))

twitter_data_file_path = "twitter_data_english_Apple_2019-03-15_2019-04-15.csv"
twitter_data = pd.read_csv(os.path.join(data_path, twitter_data_file_path))

C:\Users\Shadow\Anaconda3\envs\StockPricePrediction\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
stock_data['Date'] = pd.to_datetime(stock_data['Date'])

In [6]:
def clean_twitter_data():
    twitter_data.text = twitter_data.text.str.replace('#', '')

def get_twitter_sentiment(value):
    
    def get_sentiment(value):
        textblob_obj = textblob.TextBlob(value)
        return textblob_obj.sentiment[1]
    
    twitter_data['sentiment'] = twitter_data['text'].apply(get_sentiment)


clean_twitter_data()
get_twitter_sentiment(twitter_data)
twitter_data_daywise = twitter_data.set_index(pd.to_datetime(twitter_data['date'])).resample('D').mean()
twitter_data_daywise['Date'] = twitter_data_daywise.index
stock_sentiments = stock_data.merge(twitter_data_daywise)
stock_sentiments.sentiment.fillna(stock_sentiments.sentiment.mean(), inplace=True)

In [7]:
stock_data.head()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
0,2019-03-15,184.85,187.33,183.74,186.12,39042912.0,0.0,1.0,184.85,187.33,183.74,186.12,39042912.0
1,2019-03-18,185.80,188.39,185.79,188.02,26219832.0,0.0,1.0,185.80,188.39,185.79,188.02,26219832.0
2,2019-03-19,188.35,188.99,185.92,186.53,31646369.0,0.0,1.0,188.35,188.99,185.92,186.53,31646369.0
3,2019-03-20,186.23,189.49,184.73,188.16,31035231.0,0.0,1.0,186.23,189.49,184.73,188.16,31035231.0
4,2019-03-21,190.02,196.33,189.81,195.09,51034237.0,0.0,1.0,190.02,196.33,189.81,195.09,51034237.0

In [8]:
twitter_data_daywise.head()

            username  retweets  favorites            id  sentiment       Date
date
2019-03-15       NaN  0.785258   2.256072  1.106530e+18   0.292758 2019-03-15
2019-03-16       NaN  0.606471   2.596471  1.106890e+18   0.311368 2019-03-16
2019-03-17       NaN  0.739709   1.736683  1.107254e+18   0.301402 2019-03-17
2019-03-18       NaN  0.619714   1.868362  1.107638e+18   0.299040 2019-03-18
2019-03-19       NaN  0.603344   1.248310  1.107979e+18   0.312451 2019-03-19

In [9]:
stock_sentiments.head()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,username,retweets,favorites,id,sentiment
0,2019-03-15,184.85,187.33,183.74,186.12,39042912.0,0.0,1.0,184.85,187.33,183.74,186.12,39042912.0,NaN,0.785258,2.256072,1.106530e+18,0.292758
1,2019-03-18,185.80,188.39,185.79,188.02,26219832.0,0.0,1.0,185.80,188.39,185.79,188.02,26219832.0,NaN,0.619714,1.868362,1.107638e+18,0.299040
2,2019-03-19,188.35,188.99,185.92,186.53,31646369.0,0.0,1.0,188.35,188.99,185.92,186.53,31646369.0,NaN,0.603344,1.248310,1.107979e+18,0.312451
3,2019-03-20,186.23,189.49,184.73,188.16,31035231.0,0.0,1.0,186.23,189.49,184.73,188.16,31035231.0,NaN,1.026934,2.969959,1.108348e+18,0.311367
4,2019-03-21,190.02,196.33,189.81,195.09,51034237.0,0.0,1.0,190.02,196.33,189.81,195.09,51034237.0,NaN,0.417171,1.398260,1.108705e+18,0.308331

In [10]:
stock_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividend', 'Split',
       'Adj_Open', 'Adj_High', 'Adj_Low', 'Adj_Close', 'Adj_Volume'],
      dtype='object')

In [11]:
twitter_data_daywise.columns

Index(['username', 'retweets', 'favorites', 'id', 'sentiment', 'Date'], dtype='object')

In [12]:
stock_sentiments.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividend', 'Split',
       'Adj_Open', 'Adj_High', 'Adj_Low', 'Adj_Close', 'Adj_Volume',
       'username', 'retweets', 'favorites', 'id', 'sentiment'],
      dtype='object')

In [13]:
stock_sentiments.corr()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,username,retweets,favorites,id,sentiment
Open,1.000000,0.950696,0.935324,0.881402,-0.295193,NaN,NaN,1.000000,0.950696,0.935324,0.881402,-0.295193,NaN,-0.228882,-0.572689,0.888029,-0.012292
High,0.950696,1.000000,0.939930,0.935163,-0.186171,NaN,NaN,0.950696,1.000000,0.939930,0.935163,-0.186171,NaN,-0.257592,-0.525537,0.818058,-0.092997
Low,0.935324,0.939930,1.000000,0.971899,-0.473602,NaN,NaN,0.935324,0.939930,1.000000,0.971899,-0.473602,NaN,-0.261430,-0.565385,0.901510,-0.112212
Close,0.881402,0.935163,0.971899,1.000000,-0.424621,NaN,NaN,0.881402,0.935163,0.971899,1.000000,-0.424621,NaN,-0.287632,-0.495107,0.880158,-0.138503
Volume,-0.295193,-0.186171,-0.473602,-0.424621,1.000000,NaN,NaN,-0.295193,-0.186171,-0.473602,-0.424621,1.000000,NaN,-0.018463,0.181698,-0.576711,0.061417
Dividend,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Split,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Adj_Open,1.000000,0.950696,0.935324,0.881402,-0.295193,NaN,NaN,1.000000,0.950696,0.935324,0.881402,-0.295193,NaN,-0.228882,-0.572689,0.888029,-0.012292
Adj_High,0.950696,1.000000,0.939930,0.935163,-0.186171,NaN,NaN,0.950696,1.000000,0.939930,0.935163,-0.186171,NaN,-0.257592,-0.525537,0.818058,-0.092997
Adj_Low,0.935324,0.939930,1.000000,0.971899,-0.473602,NaN,NaN,0.935324,0.939930,1.000000,0.971899,-0.473602,NaN,-0.261430,-0.565385,0.901510,-0.112212
Adj_Close,0.881402,0.935163,0.971899,1.000000,-0.424621,NaN,NaN,0.881402,0.935163,0.971899,1.000000,-0.424621,NaN,-0.287632,-0.495107,0.880158,-0.138503
Adj_Volume,-0.295193,-0.186171,-0.473602,-0.424621,1.000000,NaN,NaN,-0.295193,-0.186171,-0.473602,-0.424621,1.000000,NaN,-0.018463,0.181698,-0.576711,0.061417
username,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
retweets,-0.228882,-0.257592,-0.261430,-0.287632,-0.018463,NaN,NaN,-0.228882,-0.257592,-0.261430,-0.287632,-0.018463,NaN,1.000000,0.649039,-0.189195,0.435292
favorites,-0.572689,-0.525537,-0.565385,-0.495107,0.181698,NaN,NaN,-0.572689,-0.525537,-0.565385,-0.495107,0.181698,NaN,0.649039,1.000000,-0.501703,0.077882
id,0.888029,0.818058,0.901510,0.880158,-0.576711,NaN,NaN,0.888029,0.818058,0.901510,0.880158,-0.576711,NaN,-0.189195,-0.501703,1.000000,0.068522
sentiment,-0.012292,-0.092997,-0.112212,-0.138503,0.061417,NaN,NaN,-0.012292,-0.092997,-0.112212,-0.138503,0.061417,NaN,0.435292,0.077882,0.068522,1.000000

In [14]:
stock_sentiments.shape

(22, 18)

In [15]:
stock_sentiments.tail()

,Date,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,username,retweets,favorites,id,sentiment
17,2019-04-09,200.32,202.85,199.2300,199.50,35768237.0,0.0,1.0,200.32,202.85,199.2300,199.50,35768237.0,NaN,0.397570,1.052367,1.115572e+18,0.293906
18,2019-04-10,198.68,200.74,198.1800,200.62,21695288.0,0.0,1.0,198.68,200.74,198.1800,200.62,21695288.0,NaN,0.446003,1.014456,1.115932e+18,0.304216
19,2019-04-11,200.85,201.00,198.4431,198.95,20900808.0,0.0,1.0,200.85,201.00,198.4431,198.95,20900808.0,NaN,0.476682,1.082063,1.116293e+18,0.309163
20,2019-04-12,199.20,200.14,196.2100,198.87,27760668.0,0.0,1.0,199.20,200.14,196.2100,198.87,27760668.0,NaN,0.434307,1.518770,1.116655e+18,0.305479
21,2019-04-15,198.58,199.85,198.0100,199.23,17536646.0,0.0,1.0,198.58,199.85,198.0100,199.23,17536646.0,NaN,1.255814,1.674419,1.117562e+18,0.332269

In [16]:
stock_sentiments.to_csv(os.path.join(data_path, 'APPL_stock_sentiments_2019-03-15_2019-04-15.csv'))